# **Importing Libraries**

In [28]:
import numpy as np
import pandas as pd

# Reading **CSV**

In [29]:
df = pd.read_csv("flightprices.csv")
#df.head()

# **feature engg Date of Journey as Date, Month and Year**

In [30]:
#feature engg Date of Journey as Date, Month and Year
df["Date"] = df["Date_of_Journey"].str.split('/').str[0]
df["Month"] = df["Date_of_Journey"].str.split('/').str[1]
df["Year"] = df["Date_of_Journey"].str.split('/').str[2]
df["Date"]= df["Date"].astype(int)
df["Month"]= df["Month"].astype(int)
df["Year"]= df["Year"].astype(int)
df.drop("Date_of_Journey",axis=1,inplace=True)
df.head(100)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,5:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,9:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,IndiGo,Chennai,Kolkata,MAA → CCU,5:15,7:40,2h 25m,non-stop,No info,3540,21,6,2019
96,SpiceJet,Banglore,Delhi,BLR → DEL,5:55,8:35,2h 40m,non-stop,No check-in baggage included,3257,15,5,2019
97,Jet Airways,Banglore,Delhi,BLR → DEL,19:50,22:50,3h,non-stop,In-flight meal not included,6478,3,6,2019
98,Jet Airways,Mumbai,Hyderabad,BOM → HYD,7:05,8:30,1h 25m,non-stop,No info,8040,18,6,2019
99,Jet Airways,Delhi,Cochin,DEL → ATQ → BOM → COK,20:00,12:35 13 Jun,16h 35m,2 stops,No info,14300,12,6,2019

In [31]:
#thought to drop additional info but it would be required furhter
df["Additional_Info"].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

# **tried label encoding but manual mapping felt easier**

In [32]:
# from sklearn.preprocessing import LabelEncoder
# le = LabelEncoder()
# df["Total_Stops"]= le.fit_transform(df["Total_Stops"])
# df.head()

# identified no of missing values

In [33]:
df['Total_Stops'].isnull().sum()

np.int64(1)

# found the mode

In [34]:
df['Total_Stops'].mode()

0    1 stop
Name: Total_Stops, dtype: object

# **label encoded stop mapppings manually**

In [35]:
#label encoded stop mapppings manually
stop_mappings = {
    'non-stop': 0,
    '1 stop': 1,
    '2 stops': 2,
    '3 stops': 3,
    '4 stops': 4
}
df["Total_Stops"] = df["Total_Stops"].map(stop_mappings).fillna(1).astype(int)
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,0,No info,3897,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,5:50,13:15,7h 25m,2,No info,7662,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,9:25,04:25 10 Jun,19h,2,No info,13882,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1,No info,6218,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1,No info,13302,1,3,2019

# **feat engg departure time**

In [36]:
#df['Dep_Time'].unique()

In [37]:
#feature engg departure time
df["Dep hour"] = df["Dep_Time"].str.split(":").str[0]
df["Dep Min"] = df["Dep_Time"].str.split(":").str[1]
df["Dep hour"] = df["Dep hour"].astype(int)
df["Dep Min"]= df["Dep Min"].astype(int)
df.drop("Dep_Time", axis = 1, inplace = True)
df.head()

,Airline,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep hour,Dep Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,01:10 22 Mar,2h 50m,0,No info,3897,24,3,2019,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,13:15,7h 25m,2,No info,7662,1,5,2019,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,04:25 10 Jun,19h,2,No info,13882,9,6,2019,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,23:30,5h 25m,1,No info,6218,12,5,2019,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,21:35,4h 45m,1,No info,13302,1,3,2019,16,50

# **feat engg arrival time**

In [38]:
#feature engg arrival time
df["Arrival hour"] = df["Arrival_Time"].str.split(':').str[0]
df["Arrival min"] = df["Arrival_Time"].str.split(':').str[1].str.split(' ').str[0]
df["Arrival hour"] = df["Arrival hour"].astype(int)
df["Arrival min"]= df["Arrival min"].astype(int)
month_mappings = {
    "Jan": 1,
    "Feb": 2,
    "Mar": 3,
    "Apr": 4,
    "May": 5,
    "Jun": 6,
    "Jul": 7,
    "Aug": 8,
    "Sep": 9,
    "Oct": 10,
    "Nov": 11,
    "Dec": 12,
    np.nan: 0
}
df["Arrival date"]= pd.to_numeric(df["Arrival_Time"].str.split(' ').str.get(1),errors = 'coerce').fillna(0).astype(int)
df["Arrival month"]= df["Arrival_Time"].str.split(' ').str.get(2).map(month_mappings).fillna(0).astype(int)
df.drop("Arrival_Time", axis = 1, inplace = True)
df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep hour,Dep Min,Arrival hour,Arrival min,Arrival date,Arrival month
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0,No info,3897,24,3,2019,22,20,1,10,22,3
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2,No info,7662,1,5,2019,5,50,13,15,0,0
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2,No info,13882,9,6,2019,9,25,4,25,10,6
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1,No info,6218,12,5,2019,18,5,23,30,0,0
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1,No info,13302,1,3,2019,16,50,21,35,0,0

In [39]:
# # df["Dep_Time"] = pd.to_datetime(df["Dep_Time"], format="%H:%M %d %b", errors="coerce")
# df["Dep hour"] = df["Dep_Time"].dt.hour
# df["Dep min"]  = df["Dep_Time"].dt.minute
# df["Dep date"] = df["Dep_Time"].dt.day
# df["Dep month"] = df["Dep_Time"].dt.month
# df.drop("Dep_Time", axis=1, inplace=True)
# AI Code

# **feat engg source**

In [40]:
df["Source"].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [41]:
source_mappings = {
    'Banglore': 0,
    'Cochin': 1,
    'Delhi': 2,
    'Kolkata': 3,
    'Mumbai': 4,
    'Chennai': 5
}

df["Source"] = df["Source"].map(source_mappings).astype(int)
df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep hour,Dep Min,Arrival hour,Arrival min,Arrival date,Arrival month
0,IndiGo,0,New Delhi,BLR → DEL,2h 50m,0,No info,3897,24,3,2019,22,20,1,10,22,3
1,Air India,3,Banglore,CCU → IXR → BBI → BLR,7h 25m,2,No info,7662,1,5,2019,5,50,13,15,0,0
2,Jet Airways,2,Cochin,DEL → LKO → BOM → COK,19h,2,No info,13882,9,6,2019,9,25,4,25,10,6
3,IndiGo,3,Banglore,CCU → NAG → BLR,5h 25m,1,No info,6218,12,5,2019,18,5,23,30,0,0
4,IndiGo,0,New Delhi,BLR → NAG → DEL,4h 45m,1,No info,13302,1,3,2019,16,50,21,35,0,0

# **feat engg destination**

In [42]:
df["Destination"].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [43]:
destination_mappings = {
    'Banglore': 0,
    'Cochin': 1,
    'New Delhi': 2,
    'Delhi' : 2,
    'Kolkata': 3,
    'Hyderabad': 4
}

df["Destination"] = df["Destination"].map(destination_mappings)
df.head()
# df.info()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep hour,Dep Min,Arrival hour,Arrival min,Arrival date,Arrival month
0,IndiGo,0,2,BLR → DEL,2h 50m,0,No info,3897,24,3,2019,22,20,1,10,22,3
1,Air India,3,0,CCU → IXR → BBI → BLR,7h 25m,2,No info,7662,1,5,2019,5,50,13,15,0,0
2,Jet Airways,2,1,DEL → LKO → BOM → COK,19h,2,No info,13882,9,6,2019,9,25,4,25,10,6
3,IndiGo,3,0,CCU → NAG → BLR,5h 25m,1,No info,6218,12,5,2019,18,5,23,30,0,0
4,IndiGo,0,2,BLR → NAG → DEL,4h 45m,1,No info,13302,1,3,2019,16,50,21,35,0,0

# **feature engg airline**

In [44]:
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [45]:
airline_mappings = {
    'IndiGo': 1,
    'Jet Airways': 3,
    'Air India': 2,
    'SpiceJet': 4,
    'Multiple carriers': 5,
    'GoAir': 6,
    'Vistara': 7,
    'Air Asia': 8,
    'Vistara Premium economy': 9,
    'Jet Airways Business': 10,
    'Multiple carriers Premium economy': 11,
    'Trujet': 12

}
df['Airline'] = df['Airline'].map(airline_mappings)
df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep hour,Dep Min,Arrival hour,Arrival min,Arrival date,Arrival month
0,1,0,2,BLR → DEL,2h 50m,0,No info,3897,24,3,2019,22,20,1,10,22,3
1,2,3,0,CCU → IXR → BBI → BLR,7h 25m,2,No info,7662,1,5,2019,5,50,13,15,0,0
2,3,2,1,DEL → LKO → BOM → COK,19h,2,No info,13882,9,6,2019,9,25,4,25,10,6
3,1,3,0,CCU → NAG → BLR,5h 25m,1,No info,6218,12,5,2019,18,5,23,30,0,0
4,1,0,2,BLR → NAG → DEL,4h 45m,1,No info,13302,1,3,2019,16,50,21,35,0,0

# **feature engg route**

In [46]:
#df["Route"].unique()

In [47]:
# df.info()

In [48]:
# stops = []

# for i in df['Route']:
#     route_list = str(i.split('→'))
#     num_stops = len(route_list) - 1
#     stops.append(num_stops)

# df["Computed_Stops"] = stops

In [49]:
df["Computed_Stops"] = df["Route"].fillna("").apply(lambda x: len(str(x).split('→')) - 1)
df.drop("Route", axis=1, inplace=True)
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep hour,Dep Min,Arrival hour,Arrival min,Arrival date,Arrival month,Computed_Stops
0,1,0,2,2h 50m,0,No info,3897,24,3,2019,22,20,1,10,22,3,1
1,2,3,0,7h 25m,2,No info,7662,1,5,2019,5,50,13,15,0,0,3
2,3,2,1,19h,2,No info,13882,9,6,2019,9,25,4,25,10,6,3
3,1,3,0,5h 25m,1,No info,6218,12,5,2019,18,5,23,30,0,0,2
4,1,0,2,4h 45m,1,No info,13302,1,3,2019,16,50,21,35,0,0,2

# **feat engg duration**

In [50]:
df['Duration'] = df['Duration'].str.replace('h', '*60').str.replace(' ', '+').str.replace('m', '*1').apply(eval)

In [51]:
df.head(100)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep hour,Dep Min,Arrival hour,Arrival min,Arrival date,Arrival month,Computed_Stops
0,1,0,2,170,0,No info,3897,24,3,2019,22,20,1,10,22,3,1
1,2,3,0,445,2,No info,7662,1,5,2019,5,50,13,15,0,0,3
2,3,2,1,1140,2,No info,13882,9,6,2019,9,25,4,25,10,6,3
3,1,3,0,325,1,No info,6218,12,5,2019,18,5,23,30,0,0,2
4,1,0,2,285,1,No info,13302,1,3,2019,16,50,21,35,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,5,3,145,0,No info,3540,21,6,2019,5,15,7,40,0,0,1
96,4,0,2,160,0,No check-in baggage included,3257,15,5,2019,5,55,8,35,0,0,1
97,3,0,2,180,0,In-flight meal not included,6478,3,6,2019,19,50,22,50,0,0,1
98,3,4,4,85,0,No info,8040,18,6,2019,7,5,8,30,0,0,1
99,3,2,1,995,2,No info,14300,12,6,2019,20,0,12,35,13,6,3

# **feat engg additional info**

In [52]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [53]:
addinfo_mappings = {
    'No info': 0,
    'No Info' : 0,
    'In-flight meal not included': 1,
    'No check-in baggage included': 2,
    '1 Short layover': 3,
    '1 Long layover': 4,
    'Business class': 5,
    'Change airports': 6,
    'Red-eye flight': 7,
    '2 Long layover': 8,
}
df['Additional_Info'] = df['Additional_Info'].map(addinfo_mappings).fillna(-1).astype(int)
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep hour,Dep Min,Arrival hour,Arrival min,Arrival date,Arrival month,Computed_Stops
0,1,0,2,170,0,0,3897,24,3,2019,22,20,1,10,22,3,1
1,2,3,0,445,2,0,7662,1,5,2019,5,50,13,15,0,0,3
2,3,2,1,1140,2,0,13882,9,6,2019,9,25,4,25,10,6,3
3,1,3,0,325,1,0,6218,12,5,2019,18,5,23,30,0,0,2
4,1,0,2,285,1,0,13302,1,3,2019,16,50,21,35,0,0,2

# **finally!!!**

In [54]:
df.info()
df.head(100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  int64
 1   Source           10683 non-null  int64
 2   Destination      10683 non-null  int64
 3   Duration         10683 non-null  int64
 4   Total_Stops      10683 non-null  int64
 5   Additional_Info  10683 non-null  int64
 6   Price            10683 non-null  int64
 7   Date             10683 non-null  int64
 8   Month            10683 non-null  int64
 9   Year             10683 non-null  int64
 10  Dep hour         10683 non-null  int64
 11  Dep Min          10683 non-null  int64
 12  Arrival hour     10683 non-null  int64
 13  Arrival min      10683 non-null  int64
 14  Arrival date     10683 non-null  int64
 15  Arrival month    10683 non-null  int64
 16  Computed_Stops   10683 non-null  int64
dtypes: int64(17)
memory usage: 1.4 MB

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep hour,Dep Min,Arrival hour,Arrival min,Arrival date,Arrival month,Computed_Stops
0,1,0,2,170,0,0,3897,24,3,2019,22,20,1,10,22,3,1
1,2,3,0,445,2,0,7662,1,5,2019,5,50,13,15,0,0,3
2,3,2,1,1140,2,0,13882,9,6,2019,9,25,4,25,10,6,3
3,1,3,0,325,1,0,6218,12,5,2019,18,5,23,30,0,0,2
4,1,0,2,285,1,0,13302,1,3,2019,16,50,21,35,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,5,3,145,0,0,3540,21,6,2019,5,15,7,40,0,0,1
96,4,0,2,160,0,2,3257,15,5,2019,5,55,8,35,0,0,1
97,3,0,2,180,0,1,6478,3,6,2019,19,50,22,50,0,0,1
98,3,4,4,85,0,0,8040,18,6,2019,7,5,8,30,0,0,1
99,3,2,1,995,2,0,14300,12,6,2019,20,0,12,35,13,6,3